graft ci
include .bumpversion.cfg
include .coveragerc
include .editorconfig

include md_davis/electrostatics/charmm.crg
include md_davis/electrostatics/charmm.siz

include md_davis/gui/MD_DaVis.ico

include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include tox.ini .travis.yml .appveyor.yml .readthedocs.yml .pre-commit-config.yaml

recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

global-exclude *.py[cod] __pycache__/* *.so *.dylib

recursive-exclude docs *
