biopandas
biopython
click
docopt
flake8
h5py>=3.0
importlib_metadata
matplotlib
mdtraj
more_itertools
numpy
openpyxl
pandas
plotly
psutil
pyflakes
pylint
kaleido
scikit-learn
scipy
setuptools
toml
twine
wheel
zipp
